In [1]:
import pandas as pd

firstDay = pd.Timestamp(2019, 4, 18)
lastDay = pd.Timestamp(2019, 4, 27)

location = 'data/'
installsFile = location + 'installs.csv'
eventsFile = location + 'events.csv'
clicksFile = location + 'clicks.csv'
auctionsFile = location + 'auctions.csv'

In [2]:
dtype = {
    'advertiser_id': 'category',
    'source_id': 'category',
    'created': 'str',
    'latitude': 'float32',
    'longitude': 'float32',
    'wifi_connection': 'bool',
    'carrier_id': 'category',
    'os_minor': 'category',
    'os_major': 'category',
    'agent_device': 'category',
    'specs_brand': 'category',
    'brand': 'category',
    'timeToClick': 'float32',
    'touchX': 'str',
    'touchY': 'str',
    'ref_type': 'category',
    'ref_hash': 'int64',
}

In [3]:
clicks=pd.read_csv(clicksFile, usecols=dtype.keys(), dtype=dtype, parse_dates=['created'])

In [4]:
clicks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64296 entries, 0 to 64295
Data columns (total 17 columns):
advertiser_id      64296 non-null category
source_id          64296 non-null category
created            64296 non-null datetime64[ns]
latitude           64296 non-null float32
longitude          64296 non-null float32
wifi_connection    64296 non-null bool
carrier_id         63097 non-null category
os_minor           64261 non-null category
agent_device       8920 non-null category
os_major           64261 non-null category
specs_brand        64296 non-null category
brand              15035 non-null category
timeToClick        38178 non-null float32
touchX             43678 non-null object
touchY             43678 non-null object
ref_type           64296 non-null category
ref_hash           64296 non-null int64
dtypes: bool(1), category(9), datetime64[ns](1), float32(3), int64(1), object(2)
memory usage: 3.5+ MB

In [5]:
clicks=clicks.drop(['latitude','longitude','agent_device','touchX','touchY','brand','carrier_id','os_minor','os_major'],axis=1)

In [6]:
onehot=pd.get_dummies(clicks['advertiser_id'])
onehot.columns=['clicks_0_advertiser','clicks_1_advertiser','clicks_2_advertiser','clicks_3_advertiser','clicks_4_advertiser']
clicks=pd.concat([clicks,onehot],axis=1)
onehot=pd.get_dummies(clicks['source_id'])
onehot.columns=['clicks_0_source_id','clicks_1_source_id','clicks_2_source_id','clicks_3_source_id','clicks_4_source_id','clicks_5_source_id','clicks_6_source_id','clicks_7_source_id','clicks_8_source_id']
clicks=pd.concat([clicks,onehot],axis=1)
onehot=pd.get_dummies(clicks['specs_brand'])
onehot.columns=['clicks_0_specs','clicks_1_specs','clicks_2_specs','clicks_3_specs','clicks_4_specs']
clicks=pd.concat([clicks,onehot],axis=1)
onehot=pd.get_dummies(clicks['ref_type'])
onehot.columns=['clicks_0_ref_type','clicks_1_ref_type']
clicks=pd.concat([clicks,onehot],axis=1)
onehot=pd.get_dummies(clicks['wifi_connection'])
onehot.columns=['clicks_wifi_false','clicks_wifi_true']
clicks=pd.concat([clicks,onehot],axis=1)

clicks=clicks.drop(['ref_type','advertiser_id','source_id','created','specs_brand','timeToClick','wifi_connection'],axis=1)

In [7]:
dtype = {
    'created': 'str',
    'application_id': 'category',
    'ref_type': 'category',
    'ref_hash': 'int64',
    'click_hash': 'str',
    'attributed': 'bool',
    'implicit': 'bool',
    'device_brand': 'float64',
    'device_model': 'float64',
    'session_user_agent': 'str',
    'user_agent': 'str',
    'event_uuid': 'str',
    'kind': 'str',
    'wifi': 'str',
    'trans_id': 'str',
    'ip_address': 'int64',
    'device_language': 'category',
}

In [8]:
installs=pd.read_csv(installsFile, usecols=dtype.keys(), dtype=dtype, parse_dates=['created'])

In [9]:
installs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 481511 entries, 0 to 481510
Data columns (total 17 columns):
created               481511 non-null datetime64[ns]
application_id        481511 non-null category
ref_type              481511 non-null category
ref_hash              481511 non-null int64
click_hash            1142 non-null object
attributed            481511 non-null bool
implicit              481511 non-null bool
device_brand          276443 non-null float64
device_model          454619 non-null float64
session_user_agent    466672 non-null object
user_agent            330768 non-null object
event_uuid            103168 non-null object
kind                  103168 non-null object
wifi                  294829 non-null object
trans_id              8933 non-null object
ip_address            481511 non-null int64
device_language       453934 non-null category
dtypes: bool(2), category(3), datetime64[ns](1), float64(2), int64(2), object(7)
memory usage: 47.3+ MB

In [10]:
installs=installs.drop(['application_id','ip_address','kind','device_brand','device_model','session_user_agent','event_uuid','trans_id','click_hash','user_agent','device_language','created','ref_type'],axis=1)

In [11]:
installs['wifi']=installs['wifi'].fillna('unknown')

In [12]:
onehot=pd.get_dummies(installs['attributed'])
onehot.columns=['installs_attributed_false','installs_attributed_true']
installs=pd.concat([installs,onehot],axis=1)
onehot=pd.get_dummies(installs['implicit'])
onehot.columns=['installs_implicit_false','installs_implicit_true']
installs=pd.concat([installs,onehot],axis=1)
onehot=pd.get_dummies(installs['wifi'])
onehot.columns=['installs_wifi_false','installs_wifi_true','installs_wifi_unknown']
installs=pd.concat([installs,onehot],axis=1)

installs=installs.drop(['attributed','implicit','wifi'],axis=1)

In [13]:
dtype = {
    'date': 'str',
    'event_id': 'int8',
    'ref_type': 'category',
    'ref_hash': 'int64',
    'application_id': 'int64',
    'attributed': 'bool',
    'device_os_version': 'float64',
    'device_brand': 'float64',
    'device_model': 'float64',
    'device_city': 'float64',
    'session_user_agent': 'float64',
    'trans_id': 'str',
    'user_agent': 'float64',
    'event_uuid': 'str',
    'carrier': 'float64',
    'kind': 'float64',
    'device_os': 'category',
    'wifi': 'bool',
    'connection_type': 'category',
    'ip_address': 'int64',
    'device_language': 'category'
}

In [14]:
events=pd.read_csv(eventsFile, usecols=dtype.keys(), dtype=dtype, parse_dates=['date'])

In [15]:
events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7744581 entries, 0 to 7744580
Data columns (total 21 columns):
date                  datetime64[ns]
event_id              int8
ref_type              category
ref_hash              int64
application_id        int64
attributed            bool
device_os_version     float64
device_brand          float64
device_model          float64
device_city           float64
session_user_agent    float64
trans_id              object
user_agent            float64
event_uuid            object
carrier               float64
kind                  float64
device_os             category
wifi                  bool
connection_type       category
ip_address            int64
device_language       category
dtypes: bool(2), category(4), datetime64[ns](1), float64(8), int64(3), int8(1), object(2)
memory usage: 886.3+ MB

In [16]:
events=events.astype({'device_os':'object','connection_type':'object'})

In [17]:
events['device_os']=events['device_os'].fillna('unknown')
events['connection_type']=events['connection_type'].fillna('unknown')

In [18]:
events=events.drop(['date','event_id','device_os_version','device_brand','device_model','device_city','session_user_agent','trans_id','user_agent','event_uuid','carrier','kind','ip_address','device_language','application_id'],axis=1)

In [19]:
#events['ref_type'].value_counts().count()#2
#events['attributed'].value_counts().count()#2
#events['device_os'].value_counts()
#events['wifi'].value_counts().count()#2
#events['connection_type'].value_counts().count()#5

In [20]:
onehot=pd.get_dummies(events['attributed'])
onehot.columns=['event_attributed_false','event_attributed_true']
events=pd.concat([events,onehot],axis=1)
onehot=pd.get_dummies(events['ref_type'])
onehot.columns=['event_ref_type0','event_ref_type1']
events=pd.concat([events,onehot],axis=1)
onehot=pd.get_dummies(events['device_os'])
onehot.columns=['event_device_os0','event_device_os0','unknown']
events=pd.concat([events,onehot],axis=1)
onehot=pd.get_dummies(events['wifi'])
onehot.columns=['event_wifiFalse','event_wifiTrue']
events=pd.concat([events,onehot],axis=1)
onehot=pd.get_dummies(events['connection_type'])
onehot.columns=['event_connection_type_Cable/DSL','event_connection_type_Cellular','event_connection_type_Corporate','event_connection_type_Dialup','event_connection_type_Unknown']
events=pd.concat([events,onehot],axis=1)

events=events.drop(['ref_type','attributed','device_os','wifi','connection_type'],axis=1)

In [21]:
events.head()

,ref_hash,event_attributed_false,event_attributed_true,event_ref_type0,event_ref_type1,event_device_os0,event_device_os0,unknown,event_wifiFalse,event_wifiTrue,event_connection_type_Cable/DSL,event_connection_type_Cellular,event_connection_type_Corporate,event_connection_type_Dialup,event_connection_type_Unknown
0,5857744372586891366,1,0,1,0,0,0,1,1,0,0,0,0,0,1
1,7642521036780133571,1,0,1,0,0,0,1,1,0,0,0,0,0,1
2,2548841562898283198,1,0,1,0,0,0,1,1,0,0,0,0,0,1
3,609402887625919085,1,0,1,0,0,0,1,1,0,0,0,0,0,1
4,9114651763556439823,1,0,1,0,0,0,1,1,0,0,0,0,0,1

In [22]:
dtype = {
    'device_id': 'int64',
    'date': 'str',
    'ref_type_id': 'category',
    'source_id': 'category',
}

In [23]:
auctions=pd.read_csv(auctionsFile, usecols=dtype.keys(), dtype=dtype, parse_dates=['date'])

In [24]:
auctions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47409528 entries, 0 to 47409527
Data columns (total 4 columns):
date           datetime64[ns]
device_id      int64
ref_type_id    category
source_id      category
dtypes: category(2), datetime64[ns](1), int64(1)
memory usage: 813.8 MB

In [25]:
onehot=pd.get_dummies(auctions['ref_type_id'])
onehot.columns=['auctions_ref_type_id1','auctions_ref_type_id7']
auctions=pd.concat([auctions,onehot],axis=1)
onehot=pd.get_dummies(auctions['source_id'])
onehot.columns=['auctions_source_id0','auctions_source_id1','auctions_source_id2','auctions_source_id3','auctions_source_id4','auctions_source_id5','auctions_source_id6','auctions_source_id7','auctions_source_id8','auctions_source_id9']
auctions=pd.concat([auctions,onehot],axis=1)



auctions=auctions.drop(['ref_type_id','source_id','date'],axis=1)

In [26]:
clicks=clicks.rename(columns={'ref_hash':'device_id'})
installs=installs.rename(columns={'ref_hash':'device_id'})
events=events.rename(columns={'ref_hash':'device_id'})

In [27]:
clicks.head()

,device_id,clicks_0_advertiser,clicks_1_advertiser,clicks_2_advertiser,clicks_3_advertiser,clicks_4_advertiser,clicks_0_source_id,clicks_1_source_id,clicks_2_source_id,clicks_3_source_id,...,clicks_8_source_id,clicks_0_specs,clicks_1_specs,clicks_2_specs,clicks_3_specs,clicks_4_specs,clicks_0_ref_type,clicks_1_ref_type,clicks_wifi_false,clicks_wifi_true
0,1293710398598742392,0,1,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,1,1,0
1,1663930990551616564,0,1,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,1,0,1
2,8488038938665586188,0,1,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,1,0,1
3,6488361690105189959,0,1,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,1,0,1
4,1348993302102753419,0,1,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,1,0,1

In [28]:
installs.head()

,device_id,installs_attributed_false,installs_attributed_true,installs_implicit_false,installs_implicit_true,installs_wifi_false,installs_wifi_true,installs_wifi_unknown
0,4716708407362582887,1,0,0,1,0,0,1
1,7143568733100935872,1,0,1,0,0,0,1
2,5230323462636548010,1,0,0,1,0,0,1
3,5097163995161606833,1,0,0,1,0,0,1
4,6328027616411983332,1,0,1,0,0,0,1

In [29]:
events.head()

,device_id,event_attributed_false,event_attributed_true,event_ref_type0,event_ref_type1,event_device_os0,event_device_os0,unknown,event_wifiFalse,event_wifiTrue,event_connection_type_Cable/DSL,event_connection_type_Cellular,event_connection_type_Corporate,event_connection_type_Dialup,event_connection_type_Unknown
0,5857744372586891366,1,0,1,0,0,0,1,1,0,0,0,0,0,1
1,7642521036780133571,1,0,1,0,0,0,1,1,0,0,0,0,0,1
2,2548841562898283198,1,0,1,0,0,0,1,1,0,0,0,0,0,1
3,609402887625919085,1,0,1,0,0,0,1,1,0,0,0,0,0,1
4,9114651763556439823,1,0,1,0,0,0,1,1,0,0,0,0,0,1

In [30]:
auctions.head()

,device_id,auctions_ref_type_id1,auctions_ref_type_id7,auctions_source_id0,auctions_source_id1,auctions_source_id2,auctions_source_id3,auctions_source_id4,auctions_source_id5,auctions_source_id6,auctions_source_id7,auctions_source_id8,auctions_source_id9
0,2564673204772915246,1,0,1,0,0,0,0,0,0,0,0,0
1,4441121667607578179,0,1,1,0,0,0,0,0,0,0,0,0
2,7721769811471055264,1,0,1,0,0,0,0,0,0,0,0,0
3,6416039086842158968,1,0,1,0,0,0,0,0,0,0,0,0
4,1258642015983312729,1,0,1,0,0,0,0,0,0,0,0,0

In [31]:
events=events.groupby('device_id').sum().reset_index()
installs=installs.groupby('device_id').sum().reset_index()
clicks=clicks.groupby('device_id').sum().reset_index()
auctions=auctions.groupby('device_id').sum().reset_index()

In [32]:
clicks.head()

,device_id,clicks_0_advertiser,clicks_1_advertiser,clicks_2_advertiser,clicks_3_advertiser,clicks_4_advertiser,clicks_0_source_id,clicks_1_source_id,clicks_2_source_id,clicks_3_source_id,...,clicks_8_source_id,clicks_0_specs,clicks_1_specs,clicks_2_specs,clicks_3_specs,clicks_4_specs,clicks_0_ref_type,clicks_1_ref_type,clicks_wifi_false,clicks_wifi_true
0,693609737448534,0,0,2,0,0,0,2,0,0,...,0,2,0,0,0,0,0,2,0,2
1,1461247282174365,0,0,1,0,0,0,1,0,0,...,0,1,0,0,0,0,0,1,0,1
2,1814167382111032,0,1,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,1,1,0
3,2204225481747532,0,3,0,0,0,0,1,0,2,...,0,1,0,0,2,0,0,3,3,0
4,3053562033305798,0,4,0,0,0,3,0,1,0,...,0,0,0,0,4,0,0,4,0,4

In [33]:
installs.head()

,device_id,installs_attributed_false,installs_attributed_true,installs_implicit_false,installs_implicit_true,installs_wifi_false,installs_wifi_true,installs_wifi_unknown
0,40621409780134,1,0,1,0,0,0,1
1,41863526108385,4,0,2,2,4,0,0
2,90072729247980,1,0,1,0,0,0,1
3,135153013040192,1,0,1,0,0,0,1
4,161514654074162,1,0,0,1,0,1,0

In [34]:
events.head()

,device_id,event_attributed_false,event_attributed_true,event_ref_type0,event_ref_type1,event_device_os0,event_device_os0,unknown,event_wifiFalse,event_wifiTrue,event_connection_type_Cable/DSL,event_connection_type_Cellular,event_connection_type_Corporate,event_connection_type_Dialup,event_connection_type_Unknown
0,40621409780134,9.0,0.0,9.0,0.0,0.0,9.0,0.0,9.0,0.0,9.0,0.0,0.0,0.0,0.0
1,41863526108385,153.0,0.0,153.0,0.0,0.0,0.0,153.0,153.0,0.0,0.0,0.0,0.0,0.0,153.0
2,69039685746313,20.0,0.0,20.0,0.0,0.0,0.0,20.0,3.0,17.0,0.0,0.0,0.0,0.0,20.0
3,90072729247980,3.0,0.0,3.0,0.0,0.0,0.0,3.0,3.0,0.0,0.0,0.0,0.0,0.0,3.0
4,161514654074162,68.0,0.0,68.0,0.0,0.0,0.0,68.0,2.0,66.0,0.0,0.0,0.0,0.0,68.0

In [35]:
auctions.head()

,device_id,auctions_ref_type_id1,auctions_ref_type_id7,auctions_source_id0,auctions_source_id1,auctions_source_id2,auctions_source_id3,auctions_source_id4,auctions_source_id5,auctions_source_id6,auctions_source_id7,auctions_source_id8,auctions_source_id9
0,40621409780134,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,41863526108385,35.0,0.0,0.0,0.0,0.0,28.0,0.0,3.0,0.0,0.0,4.0,0.0
2,69039685746313,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0
3,135153013040192,8.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,161514654074162,6.0,0.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [40]:
clicks[['clicks_1_specs','clicks_2_specs','clicks_3_specs','clicks_4_specs']]

       clicks_1_specs  clicks_2_specs  clicks_3_specs  clicks_4_specs
0                   0               0               0               0
1                   0               0               0               0
2                   0               0               1               0
3                   0               0               2               0
4                   0               0               4               0
5                   0               0               1               0
6                   0               0               0               0
7                   0               0               1               0
8                   0               0               3               0
9                   0               0               2               0
10                  0               0               2               0
11                  0               0               0               0
12                  0               0               0               0
13                  0               0               3               0
14                  0               0               2               0
15                  0               0               1               0
16                  0               0               3               0
17                  0               0               0               0
18                  0               0               0               0
19                  0               0               2               0
20                  0               0               1               0
21                  0               0               3               0
22                  0               0               2               0
23                  0               0               1               0
24                  0               0               2               0
25                  0               0               2               0
26                  0               0               2               0
27                  0               0               1               0
28                  0               0               3               0
29                  0               0               1               0
...               ...             ...             ...             ...
31779               0               0               0               0
31780               0               0               0               0
31781               0               0               0               0
31782               0               0               1               0
31783               0               0               1               0
31784               0               0               1               0
31785               0               0               1               0
31786               0               0               0               0
31787               0               0               4               0
31788               0               0               1               0
31789               0               0               1               0
31790               0               0               1               0
31791               0               0               1               0
31792               0               0               1               0
31793               0               0               0               0
31794               0               0               3               0
31795               0               0               0               0
31796               0               0               3               0
31797               0               0               1               0
31798               0               0               0               0
31799               0               0               0               0
31800               0               0               0               0
31801               0               0               2               0
31802               0               0               0               0
31803               0               0               1               0
31804               0               0               2               0
31805               0               0               0               0
31806               0               0               1               0
31807               0               0               0               0
31808               0               0               0               0

[31809 rows x 4 columns]

In [37]:
categoricoTotal=auctions.merge(clicks,how='outer')
categoricoTotal=categoricoTotal.merge(installs,how='outer')
categoricoTotal=categoricoTotal.merge(events,how='outer')

In [41]:
categoricoTotal.head()

,device_id,auctions_ref_type_id1,auctions_ref_type_id7,auctions_source_id0,auctions_source_id1,auctions_source_id2,auctions_source_id3,auctions_source_id4,auctions_source_id5,auctions_source_id6,...,event_device_os0,event_device_os0,unknown,event_wifiFalse,event_wifiTrue,event_connection_type_Cable/DSL,event_connection_type_Cellular,event_connection_type_Corporate,event_connection_type_Dialup,event_connection_type_Unknown
0,40621409780134,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,9.0,0.0,9.0,0.0,9.0,0.0,0.0,0.0,0.0
1,41863526108385,35.0,0.0,0.0,0.0,0.0,28.0,0.0,3.0,0.0,...,0.0,0.0,153.0,153.0,0.0,0.0,0.0,0.0,0.0,153.0
2,69039685746313,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,20.0,3.0,17.0,0.0,0.0,0.0,0.0,20.0
3,135153013040192,8.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,161514654074162,6.0,0.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,68.0,2.0,66.0,0.0,0.0,0.0,0.0,68.0

In [39]:
clicks.to_csv('data/clicksCategorico.csv',index=False)
installs.to_csv('data/installsCategorico.csv',index=False)
events.to_csv('data/eventsCategorico.csv',index=False)
auctions.to_csv('data/auctionsCategorico.csv',index=False)
categoricoTotal.to_csv('data/featuresCategorico.csv',index=False)

In [42]:
categoricoTotal.to_csv('data/featuresCategorico.csv',index=False)